Source: lokahostcp-nginx
Package: lokahostcp-nginx
Priority: optional
Version: 1.25.2-1
Section: admin
Maintainer: Lokahostcp <info@lokahost.online>
Homepage: https://www.lokahost.online
Architecture: amd64
Depends: lokahostcp
Description: lokahostcp Nginx
 lokahostcp is an open source hosting control panel.
 lokahostcp has a clean and focused interface without the clutter.
 lokahostcp has the latest of very innovative technologies.
 lokahostcp is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin.
