Source: lokahostcp-php
Package: lokahostcp-php
Priority: optional
Version: 8.2.11-1
Section: admin
Maintainer: Lokahostcp <info@lokahost.online>
Homepage: https://www.lokahost.online
Architecture: amd64
Depends: lokahostcp, libzip4, unzip, libonig5 | libonig4 | libonig2
Conflicts: libzip5
Description: lokahostcp php-fpm
 lokahostcp is an open source hosting control panel.
 lokahostcp has a clean and focused interface without the clutter.
 lokahostcp has the latest of very innovative technologies.
 lokahostcp is a fork from VestaCP, special thanks to vestacp.com and Serghey Rodin
